body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 991px;
  margin-inline: auto;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  padding: 5px 10px;
}

.main {
  display: flex;
  padding: 10px;
  flex-direction: column;
  width: '100%';
  margin-bottom: '20px';
  padding: '10px';
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
  padding: 10px;
  text-align: center;
}

.navigation__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #6e6e6e;
  transition: 0.1s;
}

.navigation__link--active {
  color: #000;
}

.logout-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 40px;
  gap: 20px;
}

.logout-email {
  font-size: 12px;
}

.selected-amount {
  display: flex;
  justify-content: space-between;
}

.amount-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
  width: '30px';
  height: '30px';
  line-height: '30px';
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: 'black';
  background-color: #fff;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.94);
}

.categories-list {
  display: flex;
  flex-direction: row;
  border: 1px solid #8b8b8b;
  padding: 10px;
}

.categories-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.1s;
  filter: grayscale(1);
}

.categories-item--active {
  filter: grayscale(0);
  transform: scale(1.105);
}

.categories-item--active::after {
    
}

.categories-image {
  width: 50px;
  height: 50px;
}

@media only screen and (min-width: 768px) {
  .amount-button {
    min-width: 50px;
    min-height: 50px;
    width: '50px';
    height: '50px';
    line-height: '50px';
    border-radius: 8px;
    font-size: 25px;
  }
}

.products {

}

.product-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  padding-inline: 10px;
  padding-top: 5px;
}

.product-item {
  width: 120px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: 0.3s;
  overflow: hidden;
  
  &:active {
    filter: grayscale(0.5);
  }
}

.product-item__image {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

.product-item__title {

}

.waste {
  display: flex;
  padding: 20px;
  width: 100%;
  height: 110px;
  max-height: 110px;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.waste-list {
  display: flex;
  width: 100%;
  height: 110px;
  flex-direction: column;
  flex-wrap: wrap;
}

.item--raw {
  background-color: #d8d8d8;
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info-item {
  width: 130px;
  display: flex;
  justify-content: space-between;
}

.color {
  width: 18px;
  height: 18px;
  border: 1px solid #000;
}

.color--rw-com {
  background-color: #74B0FF;
} 

.color--cw-com {
  background-color: #90EE90;
}

.color--rw-wai {
  background-color: #E1EDFE;
}

.color--cw-wai {
  background-color: #E8FFE8;
}


@media only screen and (max-width: 450px) {
  .product-list {
    gap: 3px;
  }
  
  .product-item {
    width: 90px;
    height: 90px;
    font-size: 14px;
  }

  .product-item__image {
    width: 50px;
    height: 50px;
  }

  .categories-item {
    font-size: 10px;
  }

  .categories-image {
    width: 40px;
    height: 40px;
  }

  .amount-button {
    min-width: 20px;
    min-height: 20px;
    width: '20px';
    height: '20px';
    line-height: '20px';
  }
}